{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid tour-image no_padding">
        <img src="{{ things.image.url }}" alt="">
        <div class="tour_caption">
            <div class="tour_title">{{ things.title }}</div>
            <div class="tour-description">{{ things.description }}
            </div>
        </div>
    </div>
    <div class="container-fluid tours">
        <div class="container">
            <div class="title_block">
                <div class="title fs-32">TOURS</div>
            </div>
            <div class="popular-tour-posts">
                {% for i in tours %}
                    <div class="col-md-3 col-xs-12 col-sm-3 col-lg-3 popular-tours-post">
                        <div class="content-image"><img src="{{ i.image.url }}"
                                                        alt="">
                            <div class="tour-caption">
                                <div class="tour-title"><a href="/tours/{{ i.id }}">{{ i.title }}</a></div>
                                <div class="tour-describe"><p>{{ i.description }}</p></div>
                            </div>
                            <div class="icon"><img src="{{ i.category.icon.url }}" alt=""></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}