{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
    <div class="container tour_title_block">
        <div class="tour_unique_title">
            <div class="main_title">{{ id.title }}
            </div>
            <div class="under_main_title">{{ id.description }}</div>
        </div>
        <div class="tour_category_icon">
            <img src="{{ id.category.icon.url }}" alt="">
        </div>
    </div>
    <div class="container-fluid tour-info">
        <div class="container" style="height: 100%">
            <div class="tour_info_list_block">
                <ul class="tour_info_list">
                    <li>{{ id.date_start|date:"d.m" }} - {{ id.date_end|date:"d.m" }}</li>
                    {% for i in id.other_details.all %}
                        <li>{{ i.tour_feature }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="more_about_tour">
                <div class="download_block">
                    <div class="pdf_icon"><a href="{{ id.pdf_file.url }}" target="_blank"><img
                            src="{% static 'img/pdf.png' %}" alt=""></a>
                    </div>
                    <div class="pdf_describe">Learn more about this tour</div>
                </div>
                <div class="get_tour_block">
{#                    <a href="{% url 'tripplanner' %}" class="get_tour_link"><span class="big_plus">+</span> get on tour</a>#}
                    <a href="#FAQ" class="any_questions_link">any questions?</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid no_padding tour_days">
        {% for day in days %}
            <div class="container-fluid no_padding tour_days_description">
                <div class="left_side_text">
                    <div class="title days fs-3">Day {{ day.days_counter }}</div>
                    <p>{{ day.text|safe }}</p>
                </div>
                <div class="right_side_image"><img src="{{ day.image.url }}" alt=""></div>
            </div>
        {% endfor %}
    </div>
    <div class="container-fluid social-comment no_padding">
        <div class="container">
            <div class="fb-comments" data-width="100%" data-numposts="5"></div>
        </div>
    </div>
{% endblock %}