{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid tours">
        <div class="container">
            <div class="title_block">
                <div class="title fs-32">TOURS</div>
            </div>
            <div class="filter"><span>Type of tour</span>
                <form action="" method="post">
                    {% csrf_token %}
                    <select name="" id="filter-select">
                        <option value>All tours</option>
                        {% for i in category %}
                            <option value="{{ i.title }}" {% if direction == i.title %}selected{% endif %}>{{ i.title }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class="popular-tour-posts">
                {% for i in tour %}
                    <div class="col-md-3 col-xs-12 col-sm-3 col-lg-3 popular-tours-post">
                        <div class="content-image"><img src="{{ i.image.url }}"
                                                        alt="">
                            <div class="tour-caption">
                                <div class="tour-title"><a href="{% url 'tour_page' i.id %}">{{ i.title }}</a></div>
                                <div class="tour-describe"><p>{{ i.description }}</p></div>
                            </div>
                            <div class="icon"><img src="{{ i.category.icon.url }}" alt=""></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script>
        $(document).ready(function () {
            var triggers = $('#filter-select');
            $(triggers).on('change', function (event) {
                var curLocation = document.location.href;
                if(curLocation.includes('?')) {
                    var temp = curLocation.split('?');
                    curLocation = temp[0];
                }
                document.location.href = curLocation + ($(this).val() !== '' ? '?direction=' + $(this).val() : '')
            });
        });
    </script>
{% endblock %}