@font-face {
    font-family: GothamPro;
    /* Имя шрифта */
    src: url('../fonts/GothamProRegular.eot');
    src: local('☺'), url('../fonts/GothamProRegular.woff') format('woff'), url('../fonts/GothamProRegular.ttf') format('truetype'), url('../fonts/GothamProRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GothamProBold;
    src: url('../fonts/GothamProBold.eot');
    src: local('☺'), url('../fonts/GothamProBold.woff') format('woff'), url('../fonts/GothamProBold.ttf') format('truetype'), url('../fonts/GothamProBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    /* Имя шрифта */
    src: url('../fonts/Raleway-Regular.eot');
    src: local('☺'), url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway-Regular.ttf') format('truetype'), url('../fonts/Raleway-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Raleway-Medium;
    /* Имя шрифта */
    src: url('../fonts/Raleway-Medium.eot');
    src: local('☺'), url('../fonts/Raleway-Medium.woff') format('woff'), url('../fonts/Raleway-Medium.ttf') format('truetype'), url('../fonts/Raleway-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: RalewaySemiBold;
    /* Имя шрифта */
    src: url('../fonts/Raleway-SemiBold.eot');
    src: local('☺'), url('../fonts/Raleway-SemiBold.woff') format('woff'), url('../fonts/Raleway-SemiBold.ttf') format('truetype'), url('../fonts/Raleway-SemiBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: RalewayExtraBold;
    src: url('../fonts/Raleway-ExtraBold.eot');
    src: local('☺'), url('../fonts/Raleway-ExtraBold.woff') format('woff'), url('../fonts/Raleway-ExtraBold.ttf') format('truetype'), url('../fonts/Raleway-ExtraBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: RalewayBold;
    src: url('../fonts/Raleway-Bold.eot');
    src: local('☺'), url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf') format('truetype'), url('../fonts/Raleway-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Imogen;
    src: url('../fonts/Imogen-Agnes.eot');
    src: local('☺'), url('../fonts/Imogen-Agnes.woff') format('woff'), url('../fonts/Imogen-Agnes.ttf') format('truetype'), url('../fonts/Imogen-Agnes.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.container-fluid {
    max-width: 1980px;
}

.nav_container {
    position: relative;
}

@media (min-width: 1300px) {
    .container {
        width: 1200px;
    }
}

.no_padding {
    padding: 0;
}

.main_slider {
    margin-bottom: 0 !important;
    height: 600px;
}

.main_slider .item {
    max-height: 600px;
    overflow: hidden;
}

.item {
    outline: none;
    position: relative;
    overflow: hidden;
    height: 600px;
}

.item:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, transparent, black);
    opacity: 0.7;
}

.item img {
    position: absolute;
    min-height: 100%;
    width: 100%;
    height: auto;
    bottom: 0;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.slick-dots {
    bottom: 0;
    color: #fff;
}

.slick-dots li button:before {
    color: transparent;
    border: 1px solid #fff;
    opacity: 1;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    font-size: 10px;
    line-height: 10px;
    width: 10px;
    color: #fff;
    border: 1px solid transparent;
}

.caption {
    position: absolute;
    margin: auto;
    max-width: 1140px;
    width: 100%;
    /*width: 100%;*/
    margin: auto;
    height: 100%;
    top: 0;
    left: -9999px;
    right: -9999px;
    display: flex;
    /*align-items: center;*/
    flex-direction: column;
    justify-content: center;
    color: #fff;
    z-index: 5;
    padding-left: 15px;
    padding-right: 15px;
}

.main_caption {
    word-break: break-all;
    font-size: 60px;
    font-family: GothamProBold, sans-serif;
    text-transform: uppercase;
}

.sub_caption {
    word-break: break-all;
    font-family: Raleway, sans-serif;
    font-size: 20px;

}

.main {
    position: absolute;
}

.border-bottom-nav {
    border-bottom: 1px solid #EDEDED;
}

.navigation {
    height: 100px;
    max-width: 1200px;
    margin-top: 25px;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}

.black-navigation {
    border-bottom: none;
}

.black-navigation .number {
    color: #000;
}

.black-navigation ul li {
    font-family: Raleway-Medium, sans-serif;
    font-size: 15px;
}

.black-navigation ul li a {
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
    color: #000;
}

.black-navigation ul li:hover a {
    color: #E01C25;
}

.modal-dialog {
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
    height: 100%;
    margin: auto;
    max-width: 1200px;
}

.modal-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modal-content img {
    height: 90%;
    width: auto;
}

.logo {
    margin-top: -25px;
    float: left;
    width: 165px;
    height: 125px;
    z-index: 10;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    margin-bottom: 15px;
}

.right_side {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contacts {
    height: 50%;
    float: right;
}

.number, .callback {
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}

.number {
    color: #fff;
    font-size: 24px;
    font-family: "Gotham Pro", sans-serif;
}

.callback, .subscribe_button, .booking, .submit_form, .unsubscribe_button {
    width: 127px;
    height: 35px;
    background: linear-gradient(to right, #E64423, #E21B25);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: RalewayExtraBold, sans-serif;
    font-size: 11px;
    color: #fff;
    letter-spacing: 2px;
    margin-right: 0;
    text-transform: uppercase;
}

.unsubscribe_text {
    padding: 100px 20px;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    text-align: center;
}

.callback:hover, .callback:focus {
    color: #fff;
}

.modal_overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.thanks_modal {
    position: relative;
    top: 50%;
    margin: auto;
    margin-top: -150px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    float: none;
}

.menu {
    height: 50%;
    z-index: 10;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: flex-end;
}

.menu_list {
    height: 70%;
    padding: 0;
    margin: 0;
    float: right;
}

.menu_list li {
    position: relative;
    font-family: Raleway, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    height: 100%;
    font-size: 15px;
}

.menu_list li:after {
    position: absolute;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
    content: '';
    width: 0;
    left: 50%;
    bottom: -2px;
    height: 2px;
    background-color: #E01C25;
}

.menu_list li:hover a {
    color: #E01C25;
}

.menu_list li:hover:after {
    width: 100%;
    left: 0;

}

.menu_list li a {
    height: 100%;
    display: flex;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
    color: #fff;
    text-decoration: none;
}

.menu_list li.active a {
    color: #E01C25;
}

.menu_list li.active:after {
    left: 0;
    width: 100%;
}

.second_block {
    position: relative;
    height: 437px;
    overflow: hidden;
    background-color: #fff;
}

.second_block .right_side_image {
    height: 100%;
}

.left_side_text, .right_side_image {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.left_side_text {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    overflow: hidden;
}

.left_side_text img {
    max-width: 100%;
    height: auto !important;
}

.right_side_image {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.right_side_image img {
    position: absolute;
    left: -9999px;
    right: -9999px;
    bottom: 0;
    min-height: 100%;
    margin: auto;
    width: 100%;
    height: auto;

}

.slick-dots {
    bottom: 0;
}

.discover {
    width: 127px;
    height: 35px;
    background: linear-gradient(to right, #E64423, #E21B25);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: RalewayExtraBold, sans-serif;
    font-size: 11px;
    color: #fff;
    letter-spacing: 2px;
}

.discover:hover, .discover:focus {
    color: #fff;
}

.things_to_do {
    background-color: #EDEDED;
}

.title_block {
    margin: auto;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}

.title {
    font-family: GothamProBold, sans-serif;
    font-size: 40px;
    color: #E01C25;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.subtitle {
    font-family: Imogen, sans-serif;
    font-size: 50px;
}

.posts {
    overflow: hidden;
}

.post {
    padding: 7px;
    height: 436px;
    float: left;
    cursor: pointer;
}

.post:nth-child(3), .post:nth-child(5) {
    width: 50%;
}

.post_block:after {
    transition: .5s;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.post img {
    height: 100%;
    opacity: .99;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
    cursor: pointer;
}

.post:hover img {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.post:hover .post_block:after {
    background-color: transparent;
}

.post_block {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.more {
    width: 100%;
    min-height: 100px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    z-index: 5;
}

.category_link {
    transition: .5s;
    min-width: 50%;
    max-width: 90%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 3px;
    color: #fff;
    width: auto;
    height: auto;
    border: 1px solid #E01C25;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.35);
    font-family: RalewayExtraBold, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.category_link:hover, .category_link:focus {
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);
}

.more_about {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: RalewayExtraBold, sans-serif;
    font-size: 11px;
    margin-bottom: 10px;

}

.more_about:hover, .more_about:focus {
    color: #fff;
}

.trip-planner {
    min-height: 1050px;
    height: auto;
    background-image: url("../img/trip-planner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #EEEEEE;
}

.trip-planner-title {
    font-size: 65px;
}

.trip-planner-subtitle {
    border-image: url("../img/border-top.svg");
    border-top: 1px solid #fff;
    color: #fff;
    font-size: 60px;
}

.trip-planner-block {
    padding-top: 104px;
}

.my_own_tours_link {
    margin-top: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.my_own_tours {
    width: 180px;
    height: 40px;
    border-radius: 20px;
}

.popular-tours {
    background-color: #EEEEEE;
    overflow: hidden;
}

.popular-tours-post {
    padding: 7px;
    height: 500px;
    float: left;
}

.popular-tour-posts {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-image {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.content-image img {
    height: 100%;
    min-width: 100%;
    width: auto;
}

.content-image:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 70%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, black, transparent);
    opacity: .5;
}

.content-image img {
    -webkit-transition: linear .5s;
    -moz-transition: linear .5s;
    -ms-transition: linear .5s;
    -o-transition: linear .5s;
    transition: linear .5s;
    position: absolute;
    margin: auto;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
}

.icon, .tour_category_icon {
    width: 56px;
    height: 56px;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 20px;
}

.icon img {
    width: 100%;
    height: 100%;
}

.tour-caption {
    padding-left: 7px;
    padding-right: 7px;
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.tour-title a {
    font-family: GothamProBold, sans-serif;
    color: #fff;
    letter-spacing: 3px;
    font-size: 18px;
    text-transform: uppercase;

}

.tour-describe {
    font-family: GothamPro, sans-serif;
    color: #fff;
    font-size: 14px;
    letter-spacing: 3px;
}

.popular-tours-post:nth-child(even) {
    margin-top: -60px;
}

@keyframes translate {
    from {
        transform: translateX(0);
    }
    33% {
        transform: translateX(25%);
    }
    66% {
        transform: translateX(-25%);
    }
    to {
        transform: translateX(0);
    }
}

.all-tours, .all-photos, .all-things-to-do {
    text-transform: uppercase;
    font-family: RalewayExtraBold, sans-serif;
    font-size: 11px;
    margin-top: 58px;
    text-align: center;
    letter-spacing: 3px;
    text-decoration: none;

}

.all-tours a, .all-photos a, .all-things-to-do a {
    color: #000;
}

.all-tours a:focus, .all-tours a:hover, .all-things-to-do a:hover {
    color: #000;
}

.all-tours img, .all-things-to-do img {
    width: 7.7px;
    margin-left: 5px;
}

.travelers-photo-slider a {
    overflow: hidden;
    outline: none;
    cursor: pointer;
    position: relative;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    height: 296px;
}

.items {
    height: 100%;
}

.items:after {
    position: absolute;
}

.items img {
    position: absolute;
    left: -9999px;
    right: -9999px;
    top: -9999px;
    bottom: -9999px;
    min-width: 100%;
    width: auto;
    height: 100%;
    margin: auto;

}

.travelers-photo-block {
    height: 900px;
    background-image: url("../img/travelers-background.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
    padding: 0;
}

.travelers-photo-slider a.slick-center {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.slick-center .photo-caption {
    -webkit-transform: translateY(0) !important;
    -moz-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    -o-transform: translateY(0) !important;
    transform: translateY(0) !important;
    padding-bottom: 10px;
}

#id_category {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#id_category li {
    list-style-type: none;
}

.next-photo, .prev-photo {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background-color: transparent;
    border: none;
    z-index: 10;
}

.next-photo:focus, .prev-photo:focus {
    outline: none;
}

.next-photo {
    right: 0;
    margin-right: 150px;
    background-image: url("../img/next.svg");
}

.prev-photo {
    left: 0;
    margin-left: 150px;
    background-image: url("../img/prev.svg");
}

.photo-caption {
    transition: .7s ease;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-bottom: 15px;
    letter-spacing: 3px;
    color: #fff;
    padding-left: 7px;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    background: linear-gradient(to top, black, transparent);
}

.photo-title {
    text-transform: uppercase;
    font-family: GothamProBold, sans-serif;
    font-size: 18px;
}

.photo-title a {
    color: #fff;
}

.photo-author {
    font-family: Raleway, sans-serif;
    font-size: 15px;
}

.custom-chevron {
    width: 7.7px;
}

.news_and_block {
    padding-top: 83px;
    background-color: #F3F3F3;
}

.news_blog {
    overflow: hidden;
    position: relative;
    height: 296px;
}

.news_blog img {
    position: absolute;
    right: -9999px;
    bottom: 0;
    left: -9999px;
    margin: auto;
    height: auto;
    width: 100%;
}

.news_blog:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black, transparent);
    opacity: .4;
}

.next-news, .prev-news {
    position: absolute;
    top: 50%;
    width: 35px;
    height: 90px;
    margin-top: -45px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 10;
}

.next-news {
    right: 0;
    margin-left: -17.5px;
    background-image: url("../img/news_next.svg");
    background-size: cover;
    background-position: right;
}

.prev-news {
    left: 0;
    margin-right: -17.5px;
    background-image: url("../img/news_prev.svg");
    background-size: cover;
    background-position: right;
}

.news_describe {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 19.5px;
    padding-right: 19.5px;
    color: #fff;
    z-index: 5;
    padding-bottom: 10px;
}

.news_title {
    font-family: GothamProBold, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.news_title a {
    color: #fff;
    outline: none;
}

.news_date {
    font-family: Raleway, sans-serif;
    font-size: 16px;
}

.map {
    position: relative;
    width: 100%;
    height: 487px;
    overflow: hidden;
}

.map-of-attraction {
    background-color: #F3F3F3;
    padding-bottom: 95px;
}

.map img {
    -webkit-user-drag: none;
    width: auto;
    max-width: 100%;
    /*height: 100%;*/
    max-height: 200%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.any_questions {
    min-height: 495px;
    background-image: url("../img/FAQ.png");
    background-size: cover;
    background-position: center;
}

.sub-title {
    color: #fff;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}

.fill-form {
    width: 400px;
    margin: auto;
    font-family: Raleway, sans-serif;
}

.fill-form input {
    padding-top: 9px;
    padding-bottom: 9px;
    outline: none;
    margin-bottom: 8px;
    border-radius: 5px;
    width: 100%;
    display: block;
    border: none;
    padding-left: 18px;
    padding-right: 18px;
    height: 30px;
    font-size: 15px;
}

.fill-form textarea {
    padding-top: 9px;
    padding-bottom: 9px;
    outline: none;
    width: 100%;
    border-radius: 5px;
    padding-left: 18px;
    padding-right: 18px;
    height: 110px;
    resize: none;
    font-size: 15px;
}

.fill-form button {
    border: none;
    margin: 0;
    margin-top: 15px;
    width: 100%;
    border-radius: 5px;
}

.fs-32 {
    font-size: 32px;
}

.footer {
    display: flex;
    padding-top: 57px;
    padding-bottom: 57px;
    min-height: 262px;
    background-color: #1A1A1A;
    color: #fff;
}

.footer div {
}

.footer-logo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #CBCBCB;
}

.footer-navigation {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.footer-navigation div {
    float: left;
}

.footer-navigation div ul {
    padding: 0;
}

.footer-navigation div ul li {
    padding-bottom: 7px;
    list-style-type: none;
}

.footer-navigation div ul li a {
    color: #fff;
}

.left-side ul {
    font-family: RalewayBold, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 14px;
}

.right-side ul {
    font-family: Raleway, sans-serif;
    letter-spacing: 3px;
    font-size: 14px;
}

.social_block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-list ul {
    padding-left: 25px;
}

.social-list a i {
    width: 35px;
    height: 23px;
    font-size: 18px;
}

.social-list a {
    font-family: Raleway, sans-serif;
    font-size: 14px;
    color: #fff;
    line-height: 23px;
    vertical-align: middle;
}

.social-list li {
    list-style-type: none;
    padding-bottom: 3px;
}

.footer-title {
    text-align: center;
    text-transform: uppercase;
    font-family: RalewayBold, sans-serif;
    letter-spacing: 3px;
}

.subscribe {
    height: 100%;
    padding-left: 45px;
}

.not-center {
    text-align: left;
}

.form-description {
    margin-top: 10px;
    font-family: Raleway, sans-serif;
    font-size: 14px;
}

.subscribe-form {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.subscribe-form input {
    border-radius: 5px;
    border: none;
    width: 279px;
    outline: none;
    color: #000;
    padding-left: 15px;
    letter-spacing: 2px;
}

.subscriber-delete-form {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.subscriber-delete-form input {
    border-radius: 5px;
    border: none;
    width: 279px;
    outline: none;
    color: #000;
    padding-left: 15px;
    letter-spacing: 2px;
}

.subscribe-form button, .subscriber-delete-form button {
    margin: 0;
    border: none;
    border-radius: 5px;
}

.mobile-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 15;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.hamburger {
    display: none;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 15;
}

.hamburger a {
    font-size: 30px;
    padding-left: 20px;
    color: #fff;
}

.mobile_navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.mobile-menu-list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.mobile_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    height: 150px;
}

.mobile_logo img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.mobile-menu-list li {
    list-style-type: none;
    font-size: 20px;
    height: 50px;
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.5);*/
    /*border-top: 1px solid rgba(255, 255, 255, 0.5);*/
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mobile-menu-list li a {
    color: #fff;
    text-decoration: none;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.filter {
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 16px;
}

.filter select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 36px;
    width: 217px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 25px;
    margin-bottom: 90px;
    background-image: url('../img/dropdown.svg');
    background-repeat: no-repeat;
    background-position: right;
    -webkit-background-size: contain;
    background-size: contain;
}

.tours {
    margin-bottom: 200px;
}

.tour-image {
    position: relative;
    height: 420px;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.tour-image img {
    width: 100%;
}

.tour-image:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.tour_caption {
    position: absolute;
    text-align: center;
    width: 600px;
    z-index: 5;
}

.tour_title {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    font-family: GothamProBold, sans-serif;
    font-size: 40px;
}

.tour-description {
    margin-top: 40px;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-size: 16px;
}

.gallery_post {
    cursor: pointer;
    padding: 7px;
    height: 436px;
}

.gallery_post:nth-child(3), .gallery_post:nth-child(3):nth-child(5) {
    width: 50%;
}

.gallery_post_block {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-photo-caption {
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-left: 27px;
    padding-right: 27px;
    color: #fff;
    background: linear-gradient(to top, black, transparent);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

.gallery_post:hover .gallery-photo-caption {
    padding-bottom: 20px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.gallery_post_block img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    width: auto;
    height: 100%;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
}

.gallery_post:hover .gallery_post_block img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery_block {
    margin-bottom: 200px
}

.about_us_caption {
    position: absolute;
    width: 600px;
}

.about_us_image {
    padding: 0;
    height: 420px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/about_us.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.about_us_image img {
    width: 100%;
}

.about_us_title {
    text-align: center;
    color: #fff;
    font-family: Imogen, sans-serif;
    font-size: 77px;
}

.about_us_description {
    text-align: center;
    color: #fff;
    font-family: GothamProBold, sans-serif;
    font-size: 40px;
}

.since_block {
    margin-top: 57px;
    margin-bottom: 95px;
    background-image: url("../img/mountains.png");
    background-position: center;
    background-repeat: no-repeat;
    -moz-border-image: url("../img/mountains.png");
    -o-background-image: url("../img/mountains.png");
    -webkit-background-image: url("../img/mountains.png");
}

.block_title {
    font-family: GothamProBold, sans-serif;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 42px;
    letter-spacing: 2px;
}

.block_text {
    width: 720px;
    margin: auto;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 24px;
}

.numbers {
    width: 100%;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.big_number {
    font-family: GothamProBold, sans-serif;
    font-size: 70px;
    color: #E01C25;
}

.number_div {
    border-right: 1px solid #CBCBCB;
}

.number_div:last-child {
    border-right: none;
}

.number_describe {
    font-family: Raleway-Medium, sans-serif;
    font-size: 16px;
}

.since_number {
    margin-bottom: 75px;
}

.our_team_block {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 516px;
}

.our_team_block:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);;
}

.our_team_block {
    background-image: url("../img/our_team.png");
    background-size: cover;
    background-position: center;
}

.worker {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.worker_photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
}

.worker_photo img {
    width: auto;
    height: 100%;
}

.fs-40 {
    font-size: 40px;
    text-transform: none;
    color: #333333;
}

.worker_describe {
    margin-top: 30px;
    text-align: center;
}

.worker_name {
    font-family: GothamProBold, sans-serif;
    font-size: 18px;
    color: #fff;
}

.worker_position {
    margin-top: 20px;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    color: #fff;
}

.our_team_title {
    text-align: center;
    font-size: 18px;
    font-family: GothamProBold, sans-serif;
    color: #fff;
    text-transform: uppercase;
    z-index: 10;
    margin-bottom: 75px;
}

.team {
    z-index: 5;
}

.under_title {
    font-family: GothamProBold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #ACACAC;
}

.clients_comment {
    outline: none;;
}

.comment_text {
    width: 700px;
    margin: auto;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    padding-left: 50px;
    padding-right: 50px;
    background-image: url('../img/comment_background.png');
    -webkit-background-image: url('../img/comment_background.png');
    -moz-background-image: url('../img/comment_background.png');
    -o-background-image: url('../img/comment_background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain
}

.next_client, .prev_client {
    position: absolute;
    top: 50%;
    width: 38px;
    height: 38px;
    margin-top: -19px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    outline: none;
    z-index: 5;
}

.prev_client {
    left: 0;
    background-image: url('../img/client_button_prev.png');
    -webkit-background-image: url('../img/client_button_prev.png');
    -moz-background-image: url('../img/client_button_prev.png');
    -o-background-image: url('../img/client_button_prev.png');
    -webkit-background-size: cover;
    background-size: cover;
}

.next_client {
    right: 0;
    background-image: url('../img/client_button_next.png');
    -webkit-background-image: url('../img/client_button_next.png');
    -moz-background-image: url('../img/client_button_next.png');
    -o-background-image: url('../img/client_button_next.png');
    -webkit-background-size: cover;
    background-size: cover;
}

.fa-star {
    color: #FFCE00;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}

.client_block {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.client_rate {
    margin-bottom: 45px;
}

.client_photo {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.client_photo img {
    height: 100%;
}

.client_name {
    margin-top: 20px;
    font-family: RalewayExtraBold, sans-serif;
    font-size: 16px;
}

.what_clients_says {
    margin-bottom: 80px;
}

.city_name {
    font-family: RalewayBold, sans-serif;
    font-size: 20px;
    padding-bottom: 32px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 30px;
}

.days {
    text-transform: none;
    margin-top: 30px;
    margin-bottom: 38px;
}

.tour_image {
    height: 470px;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
}

.tour_image img {
    width: 100%;
}

.day_describe {
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 90px;
}

.comment_counter_block {
    width: 100%;
    height: 100px;
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
}

.social-comment {
    background-color: #F7F7F7;
}

.comment_counter {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.comments {
    float: left;
    font-family: RalewayBold, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
}

.counter {
    float: left;
    background-color: #E01C25;
    width: 37px;
    height: 22px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    line-height: 22px;
    vertical-align: middle;
    font-size: 16px;
    font-family: RalewayBold, sans-serif;
}

.comment_container {
    margin-top: 69px;
}

.user_info {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 27px;
}

.user {
    display: flex;
    align-items: center;
}

.user_name {
    font-family: RalewayBold, sans-serif;
    font-size: 16px;
}

.user_photo {
    display: flex;
    justify-content: center;
    padding: 0;
}

.social_type {
    margin-left: 15px;
    margin-right: 15px;
}

.client_name, .social_type {
    float: left;
}

.comment_date {
    font-family: RalewaySemiBold, sans-serif;
    font-size: 16px;
    color: #929292;
    float: right;
}

.social_comment_text {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
}

.share {
    margin-top: 20px;
    overflow: hidden;
}

.like {
    margin-right: 20px;
    float: left;
    width: 60px;
    height: 23px;
    background-color: #ECEFF6;
    border: 1px solid #AABACD;
    border-radius: 5px;
    color: #35599B;
    font-family: Raleway, sans-serif;
    outline: none;
}

.reply {
    float: left;
    background-image: url('../img/reply.svg');
    width: 100px;
    height: 23px;
    background-color: transparent;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: left;
    font-family: RalewayBold, sans-serif;
    border: none;
    color: #929292;
    outline: none;
}

.write_comment {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.write_comment textarea {
    width: 100%;
    resize: none;
    padding: 15px;
    text-transform: capitalize;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
}

.send_comment {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    outline: none;
}

.tour-info {
    height: 188px;
    background-color: #F3F3F3;
}

.tour_days_description .right_side_image {
    height: 446px;
}

.tour_days_description:nth-child(even) .right_side_image {
    width: 100%;

}

.tour_days_description:nth-child(even) {
    display: flex;
    flex-direction: column-reverse;
}

.tour_days_description:nth-child(even) .left_side_text {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
}

.tour_unique_title, .tour_category_icon {
    float: left;
    margin-top: 65px;
    margin-bottom: 25px;
}

.tour_category_icon {
    position: static;
    margin-left: 30px;
}

.tour_title_block {
    display: flex;
}

.tour_unique_title {
    max-width: 508px;
}

.under_main_title {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 25px;
}

.main_title {
    font-family: GothamProBold, sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
}

.tour_info_list_block {
    width: 50%;
    overflow: hidden;
    float: left;
}

.tour_info_list {
    list-style-position: inside;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    list-style-type: none;
    width: 358px;
    padding: 0;
    height: 100%;
    margin-top: 27px;
}

.tour_info_list li {
    padding-bottom: 15px;
    font-family: RalewayBold, sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
}

.more_about_tour {
    height: 100%;
    overflow: hidden;
}

.download_block {
    float: left;
    overflow: hidden;
    width: 195px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.pdf_describe {
    padding-left: 15px;
    border-left: 1px solid silver;
    font-family: Raleway, sans-serif;
    font-size: 16px;
}

.pdf_icon {
    margin-right: 10px;
}

.get_tour_block {
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}

.get_tour_link, .any_questions_link {
    width: 180px;
    height: 40px;
    display: flex;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-weight: 900;
    font-size: 11px;
}

.get_tour_link {
    margin-bottom: 15px;
    background: linear-gradient(to right, #E64423, #E21B25);
}

.big_plus {
    font-weight: 400;
    font-size: 40px;
}

.any_questions_link {
    background-color: #fff;
    color: #E21B25;
}

.get_tour_link:hover, .get_tour_link:focus {
    text-decoration: none;
    color: #fff;
}

.blog_tile {
    font-family: GothamProBold, sans-serif;
    font-size: 32px;
    max-width: 533px;
    word-break: keep-all;
    margin-top: 65px;
    padding-bottom: 35px;
    border-bottom: 1px solid #EDEDED;
    letter-spacing: 2px;
}

.blog-text {
    padding-left: 0;
    margin-top: 36px;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 70px;
}

.blog-text img {
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 100%;
}

.main_blog_slider_item {
    height: 268px;
    display: flex !important;
    align-items: center;
    overflow: hidden;
    margin-bottom: 15px;
    outline: none;
}

.main_blog_slider_item img {
    width: 100%;
    height: auto;
}

.nav_blog_slider {
}

.nav_slider_item {
    cursor: pointer;
    outline: none;
    height: 65px;
    overflow: hidden;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.nav_slider_item img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    min-width: 100%;
    width: auto;
    height: 100%;
}

.trip_block_describe {
    padding-left: 45px;
    height: 100%;
    display: flex;
    align-items: center;
}

.trip_date, .trip_people_counter, .trip_children_block, .trip_tour_type, .trip_category {
    width: 100%;
    height: 130px;
    border: 1px solid #EDEDED;
    margin-bottom: 6px;
}

.trip_fill_form {
    height: 100%;
    background-color: #F9F9F9;
    padding-left: 45px;
    padding-right: 45px;
}

.from, .until {
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#from_day, #until_day {
    width: 95px;
}

.get_trip select {
    width: 139px;
    height: 36px;
    border: 1px solid #EDEDED;
    background-image: url("../img/select_dropdown.svg");
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 10px;
    margin-right: 10px;
}

.type_of_tour {
    height: 100%;
    display: flex;
    align-items: center;
}

#tour_type {
    width: 139px;
    height: 36px;
    border: 1px solid #EDEDED;
    background-image: url("../img/select_dropdown.svg");
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 10px;
    margin-right: 10px;
}

.tour_category {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.trip_block_title {
    font-size: 16px;
    font-family: Raleway-Medium, sans-serif;
}

.trip_block_describe_text {
    margin: 0;
    font-size: 16px;
    font-family: Raleway-Medium, sans-serif;
}

.people_counter_form {
    height: 100%;
    display: flex;
    align-items: center;
}

.trip_fill_form input[type="number"] {
    border: 1px solid #EDEDED;
    width: 65px;
    height: 36px;
    background-image: url("../img/backgroud_number.svg");
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 10px;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    line-height: 36px;
    vertical-align: middle;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    cursor: pointer;
    opacity: 0
}

.yes_we_have, .no_we_have_not {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.children_counter {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trip-planner-table input[type="radio"] {
    margin: 0;
    display: none;
}

.children_counter form {
    height: 100%;
}

.children_counter form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.get_trip label {
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    font-family: Raleway-Medium, sans-serif;
    font-size: 16px;
}

.get_trip label:after {
    position: absolute;
    content: '';
    left: 1px;
    bottom: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #EDEDED;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #fff;
}

.label_active:before {
    position: absolute;
    content: '';
    left: 5px;
    top: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #E21B25;
    z-index: 5;
}

#children_true {
    margin-right: 15px;
}

.children_counter input[type="number"] {
    margin-right: 15px;
}

.luxe, .standart, .budget {
    width: 33.33333333%;
}

.block_standart_title {
    font-family: Raleway-Medium, sans-serif;
    font-size: 24px;
    text-align: center;
}

.block_standart_subtitle {
    font-family: Raleway, sans-serif;
    font-size: 16px;
}

.hotels_slider {
    max-width: 1020px;
}

.hotel_image {
    position: relative;
    width: 100%;
    max-height: 240px;
    overflow: hidden;
}

.choose_hotel_effect {
    position: absolute;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
    bottom: 0;
    left: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    width: 100%;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hotel_item:hover .choose_hotel_effect {
    opacity: 1 !important;
    -webkit-transform: translateY(0%) !important;
    -moz-transform: translateY(0%) !important;
    -ms-transform: translateY(0%) !important;
    -o-transform: translateY(0%) !important;
    transform: translateY(0%) !important;
}

.hotel_item {
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
}

.hotel_item:hover {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

.personal_information {
    margin-top: 50px;
}

.choose_hotel_effect input[type='radio'] {
    display: none;
}

#standart_category {
    display: none;
}

#budget_category {
    display: none;
}

.choose_hotel_effect a {
    display: flex;
    width: 160px;
    height: 40px;
    border: 1px solid #fff;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-family: RalewayBold, sans-serif;
    letter-spacing: 1px;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
}

.choose_this_hotel {
    margin-bottom: 5px;
    font-family: RalewayBold, sans-serif;
    letter-spacing: 1px;
    display: flex;
    width: 160px;
    height: 40px;
    border: 1px solid #fff;
    color: #fff;
    align-items: center;
    justify-content: center;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;

}

.selected_hotel {
    background-color: #E21B25;
}

.choose_this_hotel:hover, .choose_hotel_effect a:hover {
    background-color: #E21B25;
}

.hotel_image img {
    width: 100%;
    height: auto;
}

.hotel_item {
    max-height: 305px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #EDEDED;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}

.next_hotel, .prev_hotel {
    position: absolute;
    right: -70px;
    width: 54px;
    height: 54px;
    margin-top: -27px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    outline: none;
}

.prev_hotel:hover, .prev_hotel:focus {
    background-image: url('../img/prev_after.svg');
}

.prev_hotel {
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
    background-image: url('../img/prev_before.svg');
    top: 30%;
}

.next_hotel:hover, .next_hotel:focus {
    background-image: url('../img/next_after.svg');
}

.next_hotel {
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
    background-image: url('../img/next_before_1.svg');
    top: 60%;
}

.office_info_left, .office_info_right {
    float: left;
    width: 50%;
}

.office_block {
    margin-bottom: 60px;
}

.osh_office, .bishkek_office {
    position: relative;
}

.office_block ul {
    padding: 0;
}

.office_number_title {
    font-family: Raleway-Medium, sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
}

.office_block ul li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.left_side_office_info {
    font-size: 16px;
    font-family: RalewayBold, sans-serif;
    width: 180px;
    color: #a8a8a8;
}

.right_side_office_info {
    width: 160px;
    font-family: Raleway-Medium, sans-serif;
    font-size: 16px;
}

.adress_block {
    display: flex;
}

.map_wrapper {
    bottom: 0;
    width: 100%;
    height: 300px;
    background-color: orange;
}

.osh_office, .bishkek_office {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.transport_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.transport_type {
    cursor: pointer;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
    width: 200px;
    height: 200px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transport_type input[type="radio"] {
    display: none;
}

.transport_type:hover {
    background-color: #F2F2F2;
}

.selected_transport {
    background-color: #F2F2F2;
}

.transport_type img {
    max-width: 90%;
}

.food_block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.food_block input[type="radio"] {
    display: none;
}

.hotel_describe_block {
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hotel_name {
    text-align: center;
    font-family: RalewaySemiBold, sans-serif;
    font-size: 15px;
}

.hotel_rating {
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal_information {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.personal_info_block {
    width: 600px;
    margin: auto;
}

.personal_info_block input {
    margin-bottom: 5px;
    width: 590px;
    height: 36px;
    border: 1px solid #EDEDED;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Raleway, sans-serif;
    font-size: 16px;
}

.personal_info_block input.mobile_phone {
    width: 370px;
}

#country_select {
    width: 215px;
    margin-right: 5px;
}

.personal_info_block textarea {
    resize: none;
    width: 590px;
    border: 1px solid #EDEDED;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    text-transform: capitalize;
}

.save_my_trips {
    margin: auto;
    margin-top: 30px;
    border: none;
}

.pagination_block {
    display: flex;
    justify-content: center;
}

.photo_block {
    padding-top: 70px;
    padding-bottom: 70px;
}

.photo_title, .photo_description {
    color: #000;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: pointer;
}

.contacts_list {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

.article {
    padding: 100px 20px;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}

@media screen and (max-width: 1024px) {
    .menu_list li {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
        height: 90%;
    }

    .menu_list {
        padding: 0;
        height: 70%;
    }

    .main_caption {
        font-size: 40px;
    }

    .personal_info_block {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .personal_info_block input {
        margin-bottom: 5px;
        width: auto;
        max-width: 100%;
        height: 36px;
        border: 1px solid #EDEDED;
        padding-left: 10px;
        padding-right: 10px;
        font-family: Raleway, sans-serif;
        font-size: 16px;
    }

    .personal_info_block input.mobile_phone {
        width: auto;
    }

    #country_select {
        width: 100%;
        margin-bottom: 5px;
    }

    .personal_info_block textarea {
        resize: none;
        width: auto;
        border: 1px solid #EDEDED;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: Raleway, sans-serif;
        font-size: 16px;
        text-transform: capitalize;
    }

    .main_slider {
        height: auto;
    }

    .trip_date, .trip_people_counter, .trip_children_block, .trip_tour_type, .trip_category {
        border: none;
    }

    .trip_fill_form {
        padding-left: 15px;
        padding-right: 15px;
    }

    .trip_block_describe {
        padding-left: 15px;
    }

    .get_trip select {
        width: auto;
        padding-right: 40px;
    }

    .children_counter {
        flex-direction: column;
    }

    .yes_we_have, .no_we_have_not {
        width: 100%;
    }

    .tour_category {
        flex-direction: column;
    }

    .footer-block {
        width: 100%;
        padding: 0;
    }

    .footer-logo {
        width: 30%;
        height: auto;
    }

    .footer-navigation {
        width: 40%;
        height: auto;
    }

    .social_block {
        width: 30%;
        height: auto;
    }

    .footer-title.not-center {
        text-align: center;
    }

    .subscribe {
        margin-top: 50px;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .subscribe form input {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {

    .big_number {
        font-size: 45px;
    }

    .our_team_block {
        height: auto;
        padding-bottom: 50px;
    }

    .navigation {
        width: auto;
    }
}

@media screen and (max-width: 767px) {
    .post:nth-child(3), .post:nth-child(5) {
        width: 100%;
    }

    .news_blog {
        height: 300px;
    }

    .news_blog img {
        height: 100%;
        width: auto;
    }

    .photo-caption {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    .footer-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-logo {

        margin-bottom: 40px;
    }

    .transport_block, .food_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .food_type, .footer-navigation, .social_block {
        width: 100%;
        margin-bottom: 40px;
    }

    .adress_block {
        display: flex;
        flex-direction: column;
    }

    .number_div {
        border-right: none;
        border-bottom: 1px solid silver;
    }

    .navigation {
        display: none;
    }

    .fill-form {
        width: 80%;
    }

    .footer {
        display: block;
        height: auto;
    }

    .footer ul {
        padding: 0;
    }

    .title {
        font-size: 40px;
    }

    .subscribe {
        padding-left: 15px;
    }

    .fs-32 {
        font-size: 30px;
    }

    .subscribe-form {
        display: flex;
        flex-direction: column;
    }

    .subscribe-form input {
        margin-bottom: 7px;
        height: 30px;
        width: 100%;
    }

    .up {
        margin: 0;
    }

    .item {
        height: 400px;
    }

    .item img {
        position: static;
        height: 100% !important;
        width: auto;
        margin: auto;
    }

    .main_slider {
        height: auto;
    }

    .caption {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .main_caption {
        font-size: 1.5em;
    }

    .sub_caption {
        font-size: .7em;
    }

    .second_block {
        height: auto;
        display: flex;
        flex-direction: column;
        max-height: 100%;
    }

    .left_side_text {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .right_side_image {
        margin-top: 15px;
        width: 100%;
    }

    .right_side_image img {
        position: static;
    }

    .hamburger {
        display: block;
    }

    .about_us_caption {
        width: auto;
        height: auto;
    }

    .block_text {
        width: auto;
    }

    .border-right {
        border-right: none;
    }

    .our_team_block {
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .worker {
        margin-bottom: 50px;
    }

    .comment_text {
        width: auto;
        background: none;
        padding-left: 15px;
        padding-right: 15px;
    }

    .user_photo {
        margin-bottom: 20px
    }

    .tour-info {
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .tour-info > .container {
        display: flex;
        flex-direction: column;
    }

    .tour_info_list {
        width: auto;
    }

    .tour_info_list_block {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    .more_about_tour {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .download_block {
        margin-bottom: 20px;
    }

    .popular-tours-post:nth-child(even) {
        margin: 0;
    }

    .left_side_text {
        height: auto;
    }

    .tour-image {
        width: 100%;
        height: auto;
    }

    .tour_caption {
        width: 100%;
    }
}